body {
  font-size: 1.8vw;
}


.my_name{
    font-size: 2.5em;
    padding-bottom: .3em;
    padding-top: .3em;
    margin: 0;
}
/*  Navigation Bar */
nav {
  margin: 1em;
  text-align: left;
}

nav div a{
  text-decoration: none;
  padding: 1em;
  font-size: 1.2em;
}

nav div a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.nav-in-page {
  margin: 5px;
  text-align: center;
}






/* Section */

section {
  padding-top: 1em;
  margin-left: 5em;
  margin-right: 5em;
}


section h2{
    padding: 0;
    margin: 0em 0em .3em 0em;
}

figure {
  padding: 0;
  margin: 0;
  float:left;
  padding-right: 1.3em;
}

figcaption {
  text-align: center;
  padding-top: .2em;
  font-size: .6em;
}

.section-content {
    margin: 2.5em .5em 2.5em .5em;
    display: block;
    overflow: hidden;
}

.section-content div figure img{
  height: 7em;
  width: 12em;
  padding: .28em 0 0 0;
}



.section-content div .description{
  text-align: justify;
  display: block;
}

.description .title{
  margin: 0;
  padding: 0;
}

.description-text{
  padding: .1em 0 0 0 ;
  margin: 0;
  font-size: .8em;
}

hr {
    margin: 0;
    padding: 0;
}


.back-to-top{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: 1.7em;
}

.back-to-top:hover{
  cursor: pointer;
  padding-bottom: 1em;
}

.title{
  display: inline;
}

.link-icon{
  width: .7em;
  height: .7em;

}

.link-icon:hover{
    cursor: pointer;
}
