/*
    Primary-Text: rgba(0,0,0,0.87)
    Secondary Text; rgba(0,0,0,0.54)
    Disable/hint text: rgba(0,0,0,0.38)

    Primary color:  rgb(62, 80, 180)
    Accent Color: rgb(255,63,128)

*/
/*
.circle
{
    border-radius: 50%;
    border: .2em solid rgba(62, 80, 180,.5);
    overflow: hidden;
    margin: 0;
    padding: .3em;
    line-height: 6em;
    width: 6em;
    height: 6em;
    transition: all .3s ease-in-out;
}


.circle:hover {
    background-color: green;
    cursor: default;
}
*/

svg {
    width: 100%;
    display: block;
}

.circle-wrapper {
    position: relative;
    width: 7em;
    height: 7em;
    display: inline-block;
    margin: .4em;
}

.circle-wrapper > .bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle-wrapper > img {
    /* Needs appropriate vendor prefixes */
    box-sizing: border-box;

    /* This needs to be equal to strokeWidth */
    padding: 6%;
    margin: 6%;
    width: 88%;
    height: 88%;
    border-radius: 50%;
}


hr{
    width: 4em;
    height: .05em;
    background-color: rgba(0,0,0,0.38);
    margin-top: 0em;
}

.hidden
{
  visibility: hidden;
}
/* Navigation Bar */
nav{
  margin: 0;
  padding: 0;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #333;
}

nav a{
  display: inline-block;
  padding: .5em;
  color: white;
  font-size: 1em;
  text-decoration: none;
}

nav a:hover{
  cursor: pointer;
  text-decoration: underline;
  opacity: .8;
}

.active-nav-bar{
  background-color: rgba(255, 255, 255, .3);
}

/* navigation into hamburger menu */
@media screen and (max-width: 50em) {

  /* not the hamburger menu*/
  nav a:not(:first-child){
    display: none;
    padding: .5em;
  }

  /* hamburger menu */
  nav a:first-child{
      display:block;
      font-size: 1em;
  }

}

/* navigation will be different menu button*/
@media screen and (min-width: 50em) {

  /* hamburger menu */
  nav a:first-child{
      display: none;
  }

  nav a:not(:first-child){
    display: inline-block !important;
    padding: .5em;
  }

}


/* body */
body{
   padding: 0;
   margin: 0;
   color: black;

   background-color: #F5F5F5;

   /*font-family: "Roboto & Noto", serif;*/
   font-family: 'Libre Baskerville', serif;
   font-weight: 500;
   font-size: 2.5vw;
}


/* Section */
section{
    overflow: auto;
    /*padding-top: 1em;*/
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #FFFFFF;

    /*
    margin: .5em;
    border-radius: .6em;
    box-shadow: 0 .3em .5em 0 rgba(0,0,0,0.4), 0 .3em .5em 0 rgba(0,0,0,0.6);
    */
}


section header{
  text-align: center;
  padding-top: .3em;
  padding-bottom: .1em;
}

section:nth-child(odd){
   background-color: #FEFEFE;
}

section header h1{
    margin: 0;
    padding-top: .5em;
    padding-bottom: .01em;
    color:blue;
    font-size: 1.7em;
}



/* home section sepcial Format */
#home {
    height: 92vh;
    background-image: url("home-background.jpg");
    background-attachment: fixed;
}
#home header{
    top: 35%;
    position: relative;
}
#home header h1{
  font-size: 3em;
  color: white;
}
#home header p{
  font-size: 1em;
  color: white;
}







/*  about section*/
.my-image{
  text-align: center;
}

.my-image img{
  border-radius: 50%;
  width: 8em;
  height: 10em;
}
.my-image figcaption {
    text-align: center;
    padding-top: .1em;
}

.my-image figcaption a{
    background-color: red;
    border-radius: .2em;
    font-size: .8em;
    display:inline-block;
    color:white;
    padding: .3em .7em .3em .7em;
    text-decoration: none;

}

.my-image figcaption a:hover{
    background-color: rgb(34,139,34);
}




.about-description {
  overflow:hidden;
  line-height: 1.2em;
  font-size: .65em;
  margin: 0;
}

.about-description a {
    text-decoration: none;
}



/* move image on top of the about description*/
@media screen and (min-width: 55em) {
  .my-image{
    float:left;
  }
  .about-description {
    text-align: justify;
  }
}

/* resize the image when screen size get too small*/
@media screen and (max-width: 25em) {
  .my-image img{
    width: 100%;
    height: 100%;
  }
}




/* Experience and Projects Section header description */
.section-header-description{
  font-size: .6em;
  padding-bottom: 1.5em;
  text-align: center;
  margin: 0;
  padding-left: 15vw;
  padding-right: 15vw;
  color: rgba(0,0,0,0.54);
}





/*  grid layout for experience section*/
.experience-language-grid{
  grid-column-start: col1;
  grid-column-end: span 5;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

.experience-language-grid div {
    display: inline-block;
    text-align: center;
    font-size: .5em;
    color: rgba(0, 0, 0, 0.75);
}

.experience-language-grid h2{
    font-size: 1em;
    text-decoration: underline;
    text-align: center;
    padding-bottom: .3em;
}

.experience-software-grid{
    grid-column-start: col6;
    grid-column-end: span 5;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.experience-software-grid div{
    display: inline-block;
    text-align: center;
    font-size: .5em;
    color: rgba(0, 0, 0, 0.75);
}

.experience-software-grid h2{
    font-size: 1em;
    text-decoration: underline;
    text-align: center;
    padding-bottom: .3em;
}

/* Experience section merge two column into one column*/
@media screen and (min-width: 60em) {

  .grid-container-ten{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr;
  }
}




/* Project layout css*/
/*
.individual-project{
    margin: 0;
    padding: .2em 1.5em .5em 1.5em;
    text-align: justify;
    background-color: #FAFAFA;
    margin: .5em;
    border-radius: .6em;
    box-shadow: 0 .3em .5em 0 rgba(0,0,0,0.4), 0 .3em .5em 0 rgba(0,0,0,0.6);
    border: 3px solid grey;
}
*/

.individual-project h4{
    margin: 0;
    padding-top: .5em;
    padding-bottom: .4em;
    text-decoration: underline;
    font-size: .8em;
    color: rgba(0,0,0,.87);
}

.individual-project p{
  margin: 0;
  font-size: .6em;
  font-style: normal;
  color: rgba(0, 0, 0, 0.54);
}

.individual-project-lang-tool {
    padding: .5em;
    font-size: .4em;
    color: white;
    display:inline-block;
}


/* image and description layout format */
.image-description-block {
  padding: 1.2em;
  border: 3px solid rgba(218, 223, 225, 1);;
  box-shadow: rgba(218, 223, 225, 1) 0px 0.3em 0.5em 0px inset;
  background-color: 1em;
  display: block;
  overflow: hidden;
  margin-top: 1em;
  border-radius: .6em;
}

.image-description-block figure {
  padding: 0;
  margin: 0;
  float:left;
  padding-right: 1.3em;
}


.image-description-block figure img{
  height: 9em;
  width: 9em;
  padding: .28em 0 0 0;
}

.image-description-block .project-description{
  text-align: justify;
  display: block;
    overflow: hidden;
}
.project-title{
  display: inline;
}

.project-description .title{
  margin: 0;
  padding: 0;
}

.project-description .description-text{
  padding: .4em 0 0 0 ;
  margin: 0;
  font-size: .7em;
  font-style: normal;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.3em;
}

.link-icon{
  width: .7em;
  height: .7em;
}

.link-icon:hover{
    cursor: pointer;
}



/*  Contact */
#contact .section-content{
}


#contact .section-content form{
    text-align: center;
    padding-left: 20vw;
    padding-right: 20vw;
}

#contact .section-content form input,textarea{
    width: 100%;
    padding: .5em;
    font-size: .5em;
    border-radius: .3em;
}

#contact .section-content form label{
    width: 100%;
    display: block;
    padding-top: .4em;
    padding-bottom: .2em;
    text-align: left;
    font-size: .7em;
}

#contact .section-content form input[type=submit]{
    background-color: blue;
    width: 5em;
    text-align: center;
    border-radius: .5em;
    color:white;
}

#contact .section-content form input[type=submit]{
    background-color: blue;
    width: 4em;
    text-align: center;
    border-radius: .2em;
    color:white;
    transition: background-color .5s ease-in-out;
    font-size: .7em;
    padding: .2em;
}


#contact .section-content form input[type=submit]:hover{
    background-color: rgba(0,255,0,1);
    cursor: pointer;
}

#contact .section-content form input[type=submit]:active{
    background-color: rgba(0,255,0,.5);
}




/* footer */
footer{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

footer a{
  display: inline-block;
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

footer img {
    height: 1.7em;
    width: 1.7em;
}

footer a:hover{
  text-decoration: underline;
  opacity: .7;
  cursor: pointer;
}

footer p{
    padding-bottom: .2em;
    padding-top: .5em;
    margin: 0;
    font-size: .7em;
    color: white;
}


/* background color */

.bg-red{
  background-color: red;
}

.bg-green{
  background-color: green;
}

.bg-orange{
  background-color: orange;
}

.bg-blue{
  background-color: blue;
}

.bg-purple{
  background-color: purple;
}

.bg-black{
  background-color: black;
}
